.clients {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.clients__item {
  width: calc((100% - 2 * 15px) / 2);
  height: 92px;

  &:nth-child(2n + 1) {
    margin-right: 30px;
  }

  &:nth-child(-n + 4) {
    margin-bottom: 30px;
  }

  // //   margin-right: 30px;

  // //   &:last-child {
  // //     margin-right: 0;
  // //   }
}

.clients__link {
  display: block;

  padding: 16px 52px;
  border: 1px solid getColor("social-link");
  border-radius: 4px;

  fill: getColor("social-link");

  &:hover,
  &:focus {
    border: 1px solid getColor("accent");
    fill: getColor("accent");
  }

  transition: fill 250ms getTimingFunction("primary"),
    border 250ms getTimingFunction("primary");
}

.clients__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
