// .features {
// //   @media screen and (width:1200){
// //      display: flex;
// //   }

// }
.features__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  //   @media screen and (width:1200){
  //margin-right: 30px;
  //   }
}
.features__box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100%-2 * 15);
  height: 120px;

  margin-bottom: 30px;

  background-color: getColor("secondary-background");

  //   @media screen and (width:1200){
  //
  //   }
}

.features__subtitle {
  min-width: 100%;
  margin-bottom: 15px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.features__text {
  width: 100%;

  font-size: 14px;
  line-height: 1.7;

  color: getColor("secondary-text");
}
