.logo {
  padding: 16px 0 16px 0;

  font-family: getFont("primary");
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: getColor("black");
}
.logo__label {
  color: getColor("accent");
}
