.form__field {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &:nth-child(4) {
    margin-bottom: 20px;
  }
}

.form__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: getColor("secondary-text");
}

.form__input {
  padding: 12px 0 12px 42px;
  height: 40px;

  border: 1px solid getColor("border-input");
  border-radius: 4px;

  cursor: pointer;

  transition: border-color 250ms getTimingFunction("primary");

  &:focus {
    border-color: getColor("accent");
    outline: getColor("accent");
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  display: inline-block;
  width: 18px;
  height: 18px;

  fill: getColor("primary-text");
  transition: fill 250ms getTimingFunction("primary");

  .form__input:focus + & {
    fill: getColor("accent");
  }
}

.form__textarea {
  height: 120px;

  padding: 12px 16px;

  border: 1px solid getColor("border-input");
  border-radius: 4px;
  resize: none;

  cursor: pointer;

  transition: border-color 250ms getTimingFunction("primary");

  &:focus {
    border-color: getColor("accent");
    outline: getColor("accent");
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: getColor("placeholder");
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
  cursor: pointer;

  color: getColor("secondary-text");
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  border: 2px solid getColor("primary-text");

  border-radius: 2px;
  margin-right: 8px;

  fill: getColor("white");

  transition: fill 250ms getTimingFunction("primary"),
    background 250ms getTimingFunction("primary");

  .checkbox__input:checked + & {
    background-color: getColor("accent");
    border: 1px solid getColor("accent");
  }
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__text {
  font-size: 12px;
  line-height: 1.16;

  color: getColor("secondary-text");

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__text--blue {
  text-decoration: none;
  text-decoration: underline;
  text-decoration-skip-ink: none;

  color: getColor("accent");
}

/* form button */
.form__button {
  display: flex;
  flex-direction: column;
}
.button__form {
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 4px 4px getColor("shadow-button-form");
  transition: background-color 250ms getTimingFunction("primary");

  &:hover,
  &:focus {
    background-color: getColor("form-button");
  }
}
