.section--background {
  background-color: getColor("secondary-background");
}

// .team {
//     @media screen and (width:1200px) {
//          display: flex;
//     }
// }

.team__member {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  box-shadow: 0px 1px 3px getColor("shadow-first"),
    0px 1px 1px getColor("shadow-second"), 0px 2px 1px getColor("shadow-third");
  border-radius: 0px 0px 4px 4px;

  //   @media screen and (width:1200px) {
  //       &:not(:last-child) {
  //     margin-right: 30px;
  //   }
  //   }
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: getColor("white");
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

.team__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: getColor("secondary-text");
}

.taem__img {
  width: 450px;
}
