.section--work {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.work {
  display: flex;
}
.work__item {
  position: relative;
  z-index: 1;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.work__text {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: getColor("white");
  background: getColor("work-gradient");
}
